.shop-container{

    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px 70px;
    gap: 20px;
}

.product-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}